*{
    margin: 0;
    box-sizing: border-box;
    /* border: 1px dashed red; */
    
}
.image{
    width:12%;
    height:12%;
}
.img{
    width: 100%;
    align-content: center;
}
.bd{
    border: .1em solid #484773;
}
.pt{
    padding-top: 50px;
}
.pd{
    padding: 10px;
}
.pt-20{
    padding-top: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pl{
    padding-left: 20px;
}
.pl-60{
    padding-left: 60px;
}
.pb{
    padding-bottom: 50px;
}
.pb-20{
    padding-bottom: 20px;
}
.color{
    background-color: #484773;
}
.text-col{
    color: #484773;
}
.list{
    list-style: none;
    padding-left: 0px;
}
.link{
    text-decoration: none;
    color: #484773;
}
.bgc{
    background-color: #484773;
    color: white;
    font-weight: 400;
}
.bgn{
    background-color: transparent;
}

.fnt{
    font-size: 15px;
}
.fntc{
    color: #999;
    font-weight: 500;
}
.j-c-s-e{
    justify-content: flex-start;
}




/* button */

button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  isolation: isolate;
}

.button {
  --_fg: #909090;
  --_y: -4px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  border-radius: 9999rem;
  background: var(--_bg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  
  &::after {
    content: attr(aria-label);
    color: var(--_bg);
    padding: 6px 24px;
    border-radius: inherit;
    background: var(--_fg);
    border: 2px solid var(--_bg);
    transform: translateY(var(--_y));
    transition: 200ms ease-out;
  }
  
  &:hover {
    --_y: -8px;
  }
  
  &:active {
    --_y: 2px;
    &::after {
      transition: 50ms ease-out;
    }
  }
  
  &:focus-visible {
    outline-color: black;
  }
}

